// @todo, take out unused fonts
@import url(http://fonts.googleapis.com/css?family=Domine|Anaheim|Roboto+Condensed|Special+Elite);



/*
beruit sunrise
https://kuler.adobe.com/#themeID/2317561

trisha exterior
https://kuler.adobe.com/#themeID/2318768

sparkled hue
https://kuler.adobe.com/#themeID/2318768

Copy of salmon on ice
https://kuler.adobe.com/#themeID/2316682

*/


// Copy of salmon on ice color palette.

$dark_grey  : #3E454C;
$blue       : #2185C5;
$light_blue : #7ECEFD;
$off_white  : #FFF6E5;
$salmon     : #FF7F66;
                

body {
  background-color: lighten($off_white, 0%);
}

#page {
  border: $salmon 5px solid;
  padding: 10px;
}

p {
  color: $dark_grey;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: $blue;
}

a:focus,
a:active,
a:hover {
  color: $light_blue;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anaheim', sans-serif;
}
