// @todo, take out unused fonts
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,400italic,600italic|Titillium+Web:400,200,600italic,600,400italic);

/*
beruit sunrise
https://kuler.adobe.com/#themeID/2317561

trisha exterior
https://kuler.adobe.com/#themeID/2318768

sparkled hue
https://kuler.adobe.com/#themeID/2318768

Copy of salmon on ice
https://kuler.adobe.com/#themeID/2316682

*/

// Copy of salmon on ice color palette.
$dark_grey  : #3E454C;
$blue       : #2175F5;
$light_blue : #7ECEFD;
$off_white  : #F9f9f9;
$salmon     : #FF7F66;
$dark_blue  : #004;
$orange     : #9b371b;

body {
  background:
  linear-gradient(135deg, #fff 10%, transparent 0%) -40px 0,
  linear-gradient(225deg, #fff 10%, transparent 0%) -40px 0,
  linear-gradient(315deg, #fff 10%, transparent 0%),
  linear-gradient(45deg, #fff 10%, transparent 0%);
  background-size: 40px 40px;
  background-color: $dark_blue;
  background-position: 50% 50%;
}

#page {
  background-color: $off_white;
  border: $orange 5px solid;
}

footer,
.page-header {
  background-color: #000;
  *, p {
    color: $off_white;
  }
  a {
    color: lighten($blue, 5%);
  }
}

p {
  color: $dark_grey;
}

a {
  color: $blue;
}

a:focus,
a:active,
a:hover {
  color: #c00;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
}
