// @todo, take out unused fonts
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,400italic,600italic|Titillium+Web:400,200,600italic,600,400italic);

/*
beruit sunrise
https://kuler.adobe.com/#themeID/2317561

trisha exterior
https://kuler.adobe.com/#themeID/2318768

sparkled hue
https://kuler.adobe.com/#themeID/2318768

Copy of salmon on ice
https://kuler.adobe.com/#themeID/2316682

*/

// Copy of salmon on ice color palette.
$dark_grey  : #3E454C;
$blue       : #2175F5;
$light_blue : #7ECEFD;
$off_white  : #F9f9f9;
$salmon     : #FF7F66;
$dark_blue  : #004;
$orange     : #9b371b;

body {
  // http://lea.verou.me/css3patterns/#blueprint-grid
  background-color:#269;
  background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(90deg, white 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}

#page {
  background-color: $off_white;
  border: $orange 5px solid;
}

footer,
.page-header {
  background-color: #000;
  *, p {
    color: $off_white;
  }
  a {
    color: lighten($blue, 5%);
  }
}

p {
  color: $dark_grey;
}

a {
  color: $blue;
}

a:focus,
a:active,
a:hover {
  color: #c00;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
}
