// @todo, take out unused fonts
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,400italic,600italic|Titillium+Web:400,200,600italic,600,400italic);

/*
beruit sunrise
https://kuler.adobe.com/#themeID/2317561

trisha exterior
https://kuler.adobe.com/#themeID/2318768

sparkled hue
https://kuler.adobe.com/#themeID/2318768

Copy of salmon on ice
https://kuler.adobe.com/#themeID/2316682

*/

// Copy of salmon on ice color palette.
$dark_grey  : #3E454C;
$blue       : #2175F5;
$light_blue : #7ECEFD;
$off_white  : #F9f9f9;
$salmon     : #FF7F66;
$dark_blue  : #004;
$orange     : #9b371b;
$check      : #d7d7d7;

body {
/*
  background:
  linear-gradient(135deg, $check 16%, transparent 0%) -35px 0,
  linear-gradient(225deg, $check 16%, transparent 0%) -35px 0,
  linear-gradient(315deg, $check 16%, transparent 0%),
  linear-gradient(45deg,  $check 16%, transparent 0%);
  background-size: 35px 35px;
  background-color: lighten($dark_blue, 5%);
  background-position: 50% 50%;
  */
  background-color: $dark_blue;
}

#page {
  background-color: $off_white;
  border: $orange 5px solid;
}

footer,
.page-header {
  background-color: #000;
  *, p {
    color: $off_white;
  }
  a {
    color: lighten($blue, 5%);
  }
}

p {
  color: $dark_grey;
}

a {
  color: $blue;
}

a:focus,
a:active,
a:hover {
  color: #c00;
}
