@import "normalize.css-with-sass-or-compass/_normalize.scss";
@import "colors.scss";


body {
}


footer,
.page-header {
  h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  padding: 10px;
}

.page-header p {
  margin-top: .5em;
}

#recent-posts {
  margin-top: 0;
}

#page-wrapper {
  max-width: 800px;
  margin: 10px auto;
}

#page {
  margin: 0 5px;
}

#content {
  margin: 0 20px;
}
