@import "normalize.css-with-sass-or-compass/_normalize.scss";
@import "colors.scss";

.page-main-image-wrapper {
  margin: 10px auto;
  max-width: 500px;
}

img.page-main-image {
  width: 100%;
  border: 3px solid #3E454C;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
}

footer,
.page-header {
  h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  padding: 10px;
}

.page-header p {
  margin-top: .5em;
}

#recent-posts {
  margin-top: 0;
}

#page-wrapper {
  max-width: 800px;
  margin: 10px auto;
}

#page {
  margin: 0 5px;
}

#content {
  margin: 0 20px;
}
