---
layout: default
---
<header class="page-header">
  <h1><a href="/">{{ site.title }}</a></h1>
</header>

<div id="content">
  <article>
  {% if page.title %}<h2>{{ page.title }}</h2>{% endif %}
    {% if page.main-image %}
    <div class="page-main-image-wrapper">
      <img class="page-main-image" src="/assets/main_images/{{ page.main-image }}" {% for attr in page.image-attributes %} {{attr[0]}}="{{attr[1]}}"{% endfor %}    />
    </div>
    {% endif %}

    {{ content }}
    {% if site.disqus %}{% include disqus_thread.html %}{% endif %}
  </article>
</div>
